sk-select {
  display: block;
  margin-top: 1rem;
}

.sk-label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgb(255 255 255 / 10%);
  color: #fefefe;
  box-shadow: rgb(255 255 255 / 5%) 0 6px 24px 0,
    rgb(255 255 255 / 8%) 0 0 0 1px;

  .sk-label-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;

    fa-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
