Multiple: <input type="checkbox" (change)="switchMultiple($event)" />

<sk-select
  [ngModel]="value"
  (ngModelChange)="valueChanged($event)"
  [multiple]="multiple()"
  [animationDelay]="250"
  [closeOnSelect]="true"
  (open)="showAnimation.set($event)"
>
  <div class="sk-label" skSelectPlaceholder>Please select an option</div>
  <div class="sk-label" skSelectLabel>
    <div class="sk-label-item">
      @for (item of selectedValues(); track item.value) { @if
      (selectedValues().length <= 1) {
      <fa-icon [icon]="item.icon"></fa-icon>
      }
      {{ item.label }}
      }
    </div>
  </div>

  <app-select-options-sample [options]="options" [show]="showAnimation()">
  </app-select-options-sample>
</sk-select>
