Multiple: <input type="checkbox" (change)="switchMultiple($event)" />

<sk-select [skMultiple]="multiple()">
  <div class="sk-select-content">
    <sk-select-option [value]="{ data: 1 }">Test 1</sk-select-option>
    <sk-select-option [value]="{ data: 2 }">Test 2</sk-select-option>
    <sk-select-option [value]="{ data: 2 }">Test 3</sk-select-option>
    <sk-select-option [value]="{ data: 4 }">Test 4</sk-select-option>
    <sk-select-option [value]="{ data: 5 }">Test 5</sk-select-option>
  </div>
</sk-select>
