<sk-list (activeIdChanged)="rootActiveId.set($event)">
  <div class="sk-list" @skListAnimation>
    @for (rootItem of items(); track rootItem.link) {
    <sk-list-item [skListItemId]="rootItem.link" [skEnableRouting]="true">
      <div
        class="sk-label"
        [class.sk-active]="rootActiveId() === rootItem.link"
        sk-label
      >
        <span> {{ rootItem.label }} </span>
      </div>
      @if (rootItem.children?.length && rootActiveId() === rootItem.link) {
      <sk-list
        class="sk-child-list"
        sk-childs
        (activeIdChanged)="childActiveId.set($event)"
      >
        <div class="sk-list sk-child-list" @skListAnimation>
          @for (childItem of rootItem.children; track childItem.link) {
          <sk-list-item
            [skListItemId]="childItem.link"
            [skEnableRouting]="true"
          >
            <div
              class="sk-label"
              [class.sk-active]="childActiveId() === childItem.link"
              sk-label
            >
              <span> {{ childItem.label }} </span>
            </div>
            @if (childItem.children?.length && childActiveId() ===
            childItem.link) {
            <sk-list
              class="sk-grand-child-list"
              sk-childs
              (activeIdChanged)="grandChildActiveId.set($event)"
            >
              <div class="sk-list sk-grand-child-list" @skListAnimation>
                @for (grandChildItem of childItem.children; track
                grandChildItem.link) {
                <sk-list-item
                  [skListItemId]="grandChildItem.link"
                  [skEnableRouting]="true"
                >
                  <div
                    class="sk-label"
                    [class.sk-active]="
                      grandChildActiveId() === grandChildItem.link
                    "
                    sk-label
                  >
                    <span> {{ grandChildItem.label }} </span>
                  </div>
                </sk-list-item>
                }
              </div>
            </sk-list>
            }
          </sk-list-item>
          }
        </div>
      </sk-list>
      }
    </sk-list-item>
    }
  </div>
</sk-list>
