<sk-list>
  <sk-list-item skItemActiveLink="1">
    <span>Item 1</span>
  </sk-list-item>
  <sk-list-item skItemActiveLink="2">
    <span>Item 2</span>
  </sk-list-item>
  <sk-list-item skItemActiveLink="3">
    <span>Item 3</span>
    <sk-list sk-childs>
      <sk-list-item skItemActiveLink="3/1">
        <span>Item 3.1</span>
      </sk-list-item>
      <sk-list-item skItemActiveLink="3/2">
        <span>Item 3.2</span>
      </sk-list-item>
      <sk-list-item skItemActiveLink="3/3">
        <span>Item 3.3</span>
      </sk-list-item>
    </sk-list>
  </sk-list-item>
  <sk-list-item skItemActiveLink="4">
    <span>Item 4</span>
  </sk-list-item>
  <sk-list-item skItemActiveLink="5">
    <span>Item 5</span>
    <sk-list sk-childs>
      <sk-list-item skItemActiveLink="5/1">
        <span>Item 5.1</span>
      </sk-list-item>
      <sk-list-item skItemActiveLink="5/2">
        <span>Item 5.2</span>
      </sk-list-item>
      <sk-list-item skItemActiveLink="5/3">
        <span>Item 5.3</span>
        <sk-list sk-childs>
          <sk-list-item skItemActiveLink="5/3/1">
            <span>Item 5.3.1</span>
          </sk-list-item>
          <sk-list-item skItemActiveLink="5/3/2">
            <span>Item 5.3.2</span>
          </sk-list-item>
          <sk-list-item skItemActiveLink="5/3/3">
            <span>Item 5.3.3</span>
          </sk-list-item>
        </sk-list>
      </sk-list-item>
    </sk-list>
  </sk-list-item>
</sk-list>