:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sk-main {
  width: 100%;
  max-width: max(400px, 70vw);
}

.sk-content-container {
  height: calc(100vh - var(--sk-top-bar-height));
  overflow: auto;
  padding-right: 1rem;
}
