@import url('@angular/cdk/overlay-prebuilt.css');

/* You can add global styles to this file, and also import other style files */

:root {
  --sk-top-bar-height: 84px;
  --sk-font-family: 'Montserrat', 'Helevetika Neue', sans-serif;
  --sk-primary-color-rgb: 252, 0, 84;
  --sk-primary-color: rgb(var(--sk-primary-color-rgb));
  --sk-secondary-color-rgb: 59, 61, 64;
  --sk-secondary-color: rgb(var(--sk-secondary-color-rgb));
  --sk-light-color-rgb: 255, 255, 255;
  --sk-gray-color-rgb: 59, 61, 64;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--sk-font-family);
  color: rgb(var(--sk-light-color-rgb));
  background: rgb(var(--sk-secondary-color-rgb));
  background: linear-gradient(
    149deg,
    rgb(var(--sk-secondary-color-rgb)) 0%,
    rgb(var(--sk-primary-color-rgb)) 100%
  );
  background-repeat: no-repeat;
  height: 100svh;
  overflow: hidden;
}
