<sk-gantt>
  <sk-gantt-chart-line>
    <p skTitle>This</p>
    <sk-gantt-item [itemId]="1" [start]="date1" [end]="date2">
      <div>Hallo</div>
    </sk-gantt-item>
  </sk-gantt-chart-line>

  <sk-gantt-chart-line>
    <p skTitle>A longer title</p>
    <sk-gantt-item [itemId]="2" [start]="1" [end]="date3">
      <div>Du da</div>
    </sk-gantt-item>
  </sk-gantt-chart-line>

  <sk-gantt-chart-line>
    <sk-gantt-item [itemId]="3" [start]="date4" [end]="date5">
      <div>Foo bar</div>
    </sk-gantt-item>
  </sk-gantt-chart-line>
</sk-gantt>
