:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 200px;
  margin-top: 0.5rem;
  overflow-x: auto;
}

sk-select-option {
  display: flex;
  gap: 0.5rem;
  background-color: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

sk-select-option:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

sk-select-option:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

@media (hover) {
  sk-select-option:hover {
    color: var(--sk-primary-color);
    font-weight: bold;
  }
}

sk-select-option:focus {
  border: none;
  color: var(--sk-primary-color);
  font-weight: bold;
}
