.my-backdrop {
  background-color: green;
}

button {
  cursor: pointer;
}

.my-super-styling-class {
  background-color: lightblue;
  border-radius: 20px;
  padding: 10px;
}

sk-dialog {
  --sk-dialog-background: rgb(92 107 192 / 40%);
  --sk-dialog-background-blur: 2px;
}
