<div class="layout">
  <div>
    <button (click)="isBasicDialogOpen = true">open basic Dialog</button>

    <sk-dialog [(open)]="isBasicDialogOpen" (close)="isBasicDialogOpen = false">
      <div>
        here comes some content. This is the most basic dialog, no styling, no
        spacing.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isCompletelyStyledDialogOpen = true">
      open completely styled Dialog
    </button>

    <sk-dialog
      [(open)]="isCompletelyStyledDialogOpen"
      (close)="isCompletelyStyledDialogOpen = false"
      [showCloseButton]="true"
      [contentShadow]="true"
    >
      <button
        class="custom-close-button-style"
        closeButton
        (click)="isCompletelyStyledDialogOpen = false"
      >
        x
      </button>
      <div>
        here comes some content. This is a dialog with height/width,
        border-radius, background, shadow, margin, padding and a custom backdrop
        with blur.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithOuterButtonOpen = true">
      open Dialog with outer button right (default)
    </button>

    <sk-dialog
      [(open)]="isDialogWithOuterButtonOpen"
      (close)="isDialogWithOuterButtonOpen = false"
      [showCloseButton]="true"
    >
      <button
        class="normal-close-button"
        closeButton
        (click)="isDialogWithOuterButtonOpen = false"
      >
        x
      </button>
      <div>
        here comes some content. This is a dialog with the Close Button outside
        of the container (default) and a default container margin.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithFallbackButtonOpen = true">
      open Dialog with fallback outer button right
    </button>

    <sk-dialog
      [(open)]="isDialogWithFallbackButtonOpen"
      (close)="isDialogWithFallbackButtonOpen = false"
      [showCloseButton]="true"
    >
      <div>
        here comes some content. This is a dialog with the a fallback Close
        Button. (when the user don't have a close button)
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithInnerButtonOpen = true">
      open Dialog with inner button right (default)
    </button>

    <sk-dialog
      [(open)]="isDialogWithInnerButtonOpen"
      (close)="isDialogWithInnerButtonOpen = false"
      [showCloseButton]="true"
      [innerCloseButton]="true"
    >
      <button
        class="normal-close-button"
        closeButton
        (click)="isDialogWithInnerButtonOpen = false"
      >
        x
      </button>
      <div>
        here comes some content. This is a dialog with the Close Button inside
        of the container.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithOuterButtonLeftOpen = true">
      open Dialog with outer button left
    </button>

    <sk-dialog
      [(open)]="isDialogWithOuterButtonLeftOpen"
      (close)="isDialogWithOuterButtonLeftOpen = false"
      [showCloseButton]="true"
      [closeButtonPosition]="CloseButtonPosition.Left"
    >
      <button
        class="normal-close-button"
        closeButton
        (click)="isDialogWithOuterButtonLeftOpen = false"
      >
        x
      </button>
      <div>
        here comes some content. This is a dialog with the Close Button outside
        of the container (default) and a default container margin.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithInnerButtonLeftOpen = true">
      open Dialog with inner button left
    </button>

    <sk-dialog
      [(open)]="isDialogWithInnerButtonLeftOpen"
      (close)="isDialogWithInnerButtonLeftOpen = false"
      [showCloseButton]="true"
      [innerCloseButton]="true"
      [closeButtonPosition]="CloseButtonPosition.Left"
    >
      <button
        class="normal-close-button"
        closeButton
        (click)="isDialogWithInnerButtonLeftOpen = false"
      >
        x
      </button>
      <div>
        here comes some content. This is a dialog with the Close Button inside
        of the container.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDefaultContentShadowOpen = true">
      open Dialog with default shadow
    </button>

    <sk-dialog
      [(open)]="isDefaultContentShadowOpen"
      (close)="isDefaultContentShadowOpen = false"
      [contentShadow]="true"
    >
      <div>
        here comes some content. This is a dialog with colored gradients in the
        Backdrop and Container.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithShadowOpen = true">
      open Dialog with custom shadow
    </button>

    <sk-dialog
      [(open)]="isDialogWithShadowOpen"
      (close)="isDialogWithShadowOpen = false"
      [contentShadow]="true"
    >
      <div>
        here comes some content. This is a dialog with a custom shadow (white)
        around the container. The margin is slightly increased to not cut the
        shadow.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isFullscreenDialogOpen = true">
      open fullscreen Dialog
    </button>

    <sk-dialog
      [(open)]="isFullscreenDialogOpen"
      (close)="isFullscreenDialogOpen = false"
      [fullscreen]="true"
    >
      <div>here comes some content. This is a fullscreen dialog.</div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithOverflowOpen = true">
      open overflow Dialog
    </button>

    <sk-dialog
      [(open)]="isDialogWithOverflowOpen"
      (close)="isDialogWithOverflowOpen = false"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Eget nunc
        scelerisque viverra mauris in aliquam sem fringilla. Odio euismod
        lacinia at quis. A pellentesque sit amet porttitor eget dolor morbi non.
        Sagittis purus sit amet volutpat consequat mauris. Tristique
        sollicitudin nibh sit amet commodo nulla facilisi nullam. Erat velit
        scelerisque in dictum non consectetur a. Risus viverra adipiscing at in
        tellus integer feugiat. Odio morbi quis commodo odio aenean sed
        adipiscing diam. Odio tempor orci dapibus ultrices in iaculis nunc sed
        augue. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus.
        Metus dictum at tempor commodo. Quis eleifend quam adipiscing vitae. Id
        aliquet risus feugiat in. Amet cursus sit amet dictum sit amet justo.
        <br />
        <br />
        Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Mauris nunc
        congue nisi vitae suscipit tellus mauris a diam. Urna et pharetra
        pharetra massa massa. Nunc congue nisi vitae suscipit tellus mauris a
        diam maecenas. Viverra maecenas accumsan lacus vel. In metus vulputate
        eu scelerisque. Vitae congue eu consequat ac. Iaculis at erat
        pellentesque adipiscing commodo elit. A erat nam at lectus urna duis
        convallis. Vitae aliquet nec ullamcorper sit amet risus. Mauris augue
        neque gravida in fermentum et sollicitudin. Facilisi cras fermentum odio
        eu feugiat pretium nibh ipsum consequat. Sollicitudin nibh sit amet
        commodo nulla facilisi nullam vehicula ipsum. Sed egestas egestas
        fringilla phasellus. Nibh tellus molestie nunc non blandit massa
        enim.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget nunc
        scelerisque viverra mauris in aliquam sem fringilla. Odio euismod
        lacinia at quis. A pellentesque sit amet porttitor eget dolor morbi non.
        <br />
        <br />
        Sagittis purus sit amet volutpat consequat mauris. Tristique
        sollicitudin nibh sit amet commodo nulla facilisi nullam. Erat velit
        scelerisque in dictum non consectetur a. Risus viverra adipiscing at in
        tellus integer feugiat. Odio morbi quis commodo odio aenean sed
        adipiscing diam. Odio tempor orci dapibus ultrices in iaculis nunc sed
        augue. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus.
        Metus dictum at tempor commodo. Quis eleifend quam adipiscing vitae. Id
        aliquet risus feugiat in. Amet cursus sit amet dictum sit amet justo.
        Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Mauris nunc
        congue nisi vitae suscipit tellus mauris a diam. Urna et pharetra
        pharetra massa massa. Nunc congue nisi vitae suscipit tellus mauris a
        diam maecenas. Viverra maecenas accumsan lacus vel. In metus vulputate
        eu scelerisque. Vitae congue eu consequat ac. Iaculis at erat
        pellentesque adipiscing commodo elit. A erat nam at lectus urna duis
        convallis. Vitae aliquet nec ullamcorper sit amet risus. Mauris augue
        neque gravida in fermentum et sollicitudin. Facilisi cras fermentum odio
        eu feugiat pretium nibh ipsum consequat. Sollicitudin nibh sit amet
        commodo nulla facilisi nullam vehicula ipsum. Sed egestas egestas
        fringilla phasellus. Nibh tellus molestie nunc non blandit massa
        enim.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget nunc
        scelerisque viverra mauris in aliquam sem fringilla. Odio euismod
        lacinia at quis. A pellentesque sit amet porttitor eget dolor morbi non.
        <br />
        <br />
        Sagittis purus sit amet volutpat consequat mauris. Tristique
        sollicitudin nibh sit amet commodo nulla facilisi nullam. Erat velit
        scelerisque in dictum non consectetur a. Risus viverra adipiscing at in
        tellus integer feugiat. Odio morbi quis commodo odio aenean sed
        adipiscing diam. Odio tempor orci dapibus ultrices in iaculis nunc sed
        augue. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus.
        Metus dictum at tempor commodo. Quis eleifend quam adipiscing vitae. Id
        aliquet risus feugiat in. Amet cursus sit amet dictum sit amet justo.
        Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Mauris nunc
        congue nisi vitae suscipit tellus mauris a diam. Urna et pharetra
        pharetra massa massa. Nunc congue nisi vitae suscipit tellus mauris a
        diam maecenas. Viverra maecenas accumsan lacus vel. In metus vulputate
        eu scelerisque. Vitae congue eu consequat ac. Iaculis at erat
        pellentesque adipiscing commodo elit. A erat nam at lectus urna duis
        convallis. Vitae aliquet nec ullamcorper sit amet risus. Mauris augue
        neque gravida in fermentum et sollicitudin. Facilisi cras fermentum odio
        eu feugiat pretium nibh ipsum consequat. Sollicitudin nibh sit amet
        commodo nulla facilisi nullam vehicula ipsum. Sed egestas egestas
        fringilla phasellus. Nibh tellus molestie nunc non blandit massa
        enim.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget nunc
        scelerisque viverra mauris in aliquam sem fringilla. Odio euismod
        lacinia at quis. A pellentesque sit amet porttitor eget dolor morbi non.
        <br />
        <br />
        Sagittis purus sit amet volutpat consequat mauris. Tristique
        sollicitudin nibh sit amet commodo nulla facilisi nullam. Erat velit
        scelerisque in dictum non consectetur a. Risus viverra adipiscing at in
        tellus integer feugiat. Odio morbi quis commodo odio aenean sed
        adipiscing diam. Odio tempor orci dapibus ultrices in iaculis nunc sed
        augue. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus.
        Metus dictum at tempor commodo. Quis eleifend quam adipiscing vitae. Id
        aliquet risus feugiat in. Amet cursus sit amet dictum sit amet justo.
        Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Mauris nunc
        congue nisi vitae suscipit tellus mauris a diam. Urna et pharetra
        pharetra massa massa. Nunc congue nisi vitae suscipit tellus mauris a
        diam maecenas. Viverra maecenas accumsan lacus vel. In metus vulputate
        eu scelerisque. Vitae congue eu consequat ac. Iaculis at erat
        pellentesque adipiscing commodo elit. A erat nam at lectus urna duis
        convallis. Vitae aliquet nec ullamcorper sit amet risus. Mauris augue
        neque gravida in fermentum et sollicitudin. Facilisi cras fermentum odio
        eu feugiat pretium nibh ipsum consequat. Sollicitudin nibh sit amet
        commodo nulla facilisi nullam vehicula ipsum. Sed egestas egestas
        fringilla phasellus. Nibh tellus molestie nunc non blandit massa enim.
        In ante metus dictum at tempor. Pretium vulputate sapien nec sagittis
        aliquam malesuada bibendum arcu. Eget aliquet nibh praesent tristique
        magna sit amet purus gravida. Massa sapien faucibus et molestie ac
        feugiat. Pellentesque massa placerat duis ultricies lacus sed turpis
        tincidunt. Dapibus ultrices in iaculis nunc sed augue lacus viverra.
        <br />
        <br />
        Volutpat sed cras ornare arcu. Diam in arcu cursus euismod quis viverra
        nibh cras. Risus nec feugiat in fermentum. Amet cursus sit amet dictum
        sit amet. Dui vivamus arcu felis bibendum ut tristique. Commodo viverra
        maecenas accumsan lacus. Tortor id aliquet lectus proin nibh nisl
        condimentum id venenatis. Lacinia quis vel eros donec ac odio tempor
        orci. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim
        cras tincidunt. Est lorem ipsum dolor sit amet consectetur adipiscing.
        Ut eu sem integer vitae justo eget magna. Odio ut enim blandit volutpat.
        Duis at consectetur lorem donec massa sapien faucibus et. In eu mi
        bibendum neque egestas. Commodo ullamcorper a lacus vestibulum sed arcu.
        Sed felis eget velit aliquet. Varius morbi enim nunc faucibus a
        pellentesque sit amet porttitor. Sit amet massa vitae tortor
        condimentum. Ornare massa eget egestas purus viverra accumsan in nisl.
        Lacus sed viverra tellus in. In metus vulputate eu scelerisque.
        Pellentesque sit amet porttitor eget dolor morbi non. Laoreet
        suspendisse interdum consectetur libero id faucibus nisl tincidunt eget.
        Dui vivamus arcu felis bibendum ut tristique et egestas quis. Id neque
        aliquam vestibulum morbi blandit cursus risus at. Sodales ut eu sem
        integer vitae justo eget magna. Sit amet consectetur adipiscing elit
        pellentesque habitant. Nunc non blandit massa enim. Odio ut sem nulla
        pharetra. Faucibus interdum posuere lorem ipsum. Posuere lorem ipsum
        dolor sit amet consectetur adipiscing elit. Odio ut sem nulla pharetra
        diam sit amet. Ut ornare lectus sit amet est placerat in egestas. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Eget nunc scelerisque
        viverra mauris in aliquam sem fringilla. Odio euismod lacinia at quis. A
        pellentesque sit amet porttitor eget dolor morbi non. Sagittis purus sit
        amet volutpat consequat mauris. Tristique sollicitudin nibh sit amet
        commodo nulla facilisi nullam. Erat velit scelerisque in dictum non
        consectetur a. Risus viverra adipiscing at in tellus integer feugiat.
        <br />
        <br />
        Odio morbi quis commodo odio aenean sed adipiscing diam. Odio tempor
        orci dapibus ultrices in iaculis nunc sed augue. Adipiscing vitae proin
        sagittis nisl rhoncus mattis rhoncus.Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Eget nunc scelerisque viverra mauris in aliquam
        sem fringilla. Odio euismod lacinia at quis. A pellentesque sit amet
        porttitor eget dolor morbi non. Sagittis purus sit amet volutpat
        consequat mauris. Tristique sollicitudin nibh sit amet commodo nulla
        facilisi nullam. Erat velit scelerisque in dictum non consectetur a.
        Risus viverra adipiscing at in tellus integer feugiat. Odio morbi quis
        commodo odio aenean sed adipiscing diam. Odio tempor orci dapibus
        ultrices in iaculis nunc sed augue. Adipiscing vitae proin sagittis nisl
        rhoncus mattis rhoncus. Pretium lectus quam id leo in vitae. Neque
        convallis a cras semper auctor neque vitae. Vitae tortor condimentum
        lacinia quis vel eros donec. Tincidunt lobortis feugiat vivamus at augue
        eget arcu dictum varius. Et netus et malesuada fames ac turpis egestas
        sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget nunc
        scelerisque viverra mauris in aliquam sem fringilla. Odio euismod
        lacinia at quis. A pellentesque sit amet porttitor eget dolor morbi non.
        <br />
        <br />
        Sagittis purus sit amet volutpat consequat mauris. Tristique
        sollicitudin nibh sit amet commodo nulla facilisi nullam. Erat velit
        scelerisque in dictum non consectetur a. Risus viverra adipiscing at in
        tellus integer feugiat. Odio morbi quis commodo odio aenean sed
        adipiscing diam. Odio tempor orci dapibus ultrices in iaculis nunc sed
        augue. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus.
        Metus dictum at tempor commodo. Quis eleifend quam adipiscing vitae. Id
        aliquet risus feugiat in. Amet cursus sit amet dictum sit amet justo.
        Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Mauris nunc
        congue nisi vitae suscipit tellus mauris a diam. Urna et pharetra
        pharetra massa massa. Nunc congue nisi vitae suscipit tellus mauris a
        diam maecenas. Viverra maecenas accumsan lacus vel. In metus vulputate
        eu scelerisque. Vitae congue eu consequat ac. Iaculis at erat
        pellentesque adipiscing commodo elit. A erat nam at lectus urna duis
        convallis. Vitae aliquet nec ullamcorper sit amet risus. Mauris augue
        neque gravida in fermentum et sollicitudin. Facilisi cras fermentum odio
        eu feugiat pretium nibh ipsum consequat. Sollicitudin nibh sit amet
        commodo nulla facilisi nullam vehicula ipsum. Sed egestas egestas
        fringilla phasellus. Nibh tellus molestie nunc non blandit massa enim.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithFancyColorsOpen = true">
      open Dialog with fancy colors
    </button>

    <sk-dialog
      [(open)]="isDialogWithFancyColorsOpen"
      (close)="isDialogWithFancyColorsOpen = false"
    >
      <div>
        here comes some content. This is a dialog with colored gradients in the
        Backdrop and Container.
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithNestedDialogOpen = true">
      open Dialog with nested Dialog
    </button>

    <sk-dialog
      [(open)]="isDialogWithNestedDialogOpen"
      (close)="isDialogWithNestedDialogOpen = false"
    >
      <div>
        here comes some content. This button will open another dialog. <br />

        <button (click)="isNestedDialogOpen = true">open nested Dialog</button>

        <sk-dialog
          [(open)]="isNestedDialogOpen"
          (close)="isNestedDialogOpen = false"
          [showCloseButton]="true"
        >
          <button
            class="normal-close-button"
            closeButton
            (click)="isNestedDialogOpen = false"
          >
            x
          </button>
          <div>
            This is the content of the nested Dialog! This one has the close
            button.
          </div>
        </sk-dialog>
      </div>
    </sk-dialog>
  </div>

  <div>
    <button (click)="isDialogWithSelectOpen = true">
      open Dialog with nested Dialog
    </button>

    <sk-dialog
      [(open)]="isDialogWithSelectOpen"
      (close)="isDialogWithSelectOpen = false"
    >
      <div>
        Here is some Content.

        <sk-select>
          <span skSelectPlaceholder>Placeholder</span>
          <span skSelectLabel>Selected Item</span>

          <sk-select-option [value]="1">Option 1</sk-select-option>
          <sk-select-option [value]="2">Option 2</sk-select-option>
          <sk-select-option [value]="3">Option 3</sk-select-option>
          <sk-select-option [value]="4">Option 4</sk-select-option>
          <sk-select-option [value]="5">Option 5</sk-select-option>
        </sk-select>
      </div>
    </sk-dialog>
  </div>
</div>
