.my-backdrop {
  background-color: green;
}

button {
  cursor: pointer;
}

sk-dialog {
  --sk-dialog-width: 100%;
  --sk-dialog-height: 100%;
  --sk-dialog-border-radius: 20px;
  --sk-dialog-background: lightblue;
  --sk-dialog-margin: 50px;
  --sk-dialog-inner-content-padding: 40px;
  --sk-dialog-inner-content-margin: 20px;
  --sk-dialog-inner-close-button-space: 15 px;
  --sk-dialog-overflow: scroll;
  --sk-dialog-backdrop: rgb(92 107 192 / 50%);
  --sk-dialog-backdrop-blur: 2px;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
