.my-backdrop {
  background-color: green;
}

button {
  cursor: pointer;
}

.my-super-styling-class {
  background-color: lightblue;
  border-radius: 20px;
  padding: 20px;
}

sk-dialog {
  --sk-dialog-width: 100%;
  --sk-dialog-margin: 50px 100px;
  --sk-dialog-background: rgb(92 107 192 / 50%);
  --sk-dialog-background-blur: 2px;
  --sk-dialog-inner-content-margin: 20px;
}
