/* Peter's Widget Theme (Head :)) */
:host {
    --spacing-default: 20px;
}
::part(sk-widget) {
    border: 1px solid red;
}

::part(sk-widget-header), ::part(sk-widget-footer) {
    background-color: aqua;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: var(--spacing-default);
    padding-right: var(--spacing-default);
}

::part(sk-widget-header) {
    border-bottom: 1px solid red;
}

::part(sk-widget-footer) {
    border-top: 1px solid red;
}

::part(sk-widget-content) {
    margin: var(--spacing-default);
}